// This is a complex ruleset intended to use
# All of the features of lace
-- So that we can be sure it all works

// Error cases are covered in individual tests
-- So the purpose of these tests is to compile
# and to work

default deny "four"

include complexruleset-definitions

allow one first any_first_second_third

include complexruleset-allowsecond second

allow whatever all_first_second_third

deny three third

-- Expect four denial, despite last action being a deny
